<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/Contacto.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <title>Contácto</title>
</head>

<body>
  <div class="np-image">
    <div class="np-text">
      <h1>Contáctanos</h1>
    </div>
  </div>

  <div class="objetivos-tarjetas">
    <h2>Formulario de Contácto</h2>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="form-container">
          <div class="form-image">
            <img src="/img/contacto.jpg" alt="Imagen">
          </div>
          <div class="form-fields">
            <form>
              <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre" required>
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" required>
              </div>
              <div class="form-group">
                <label for="telefono">Teléfono</label>
                <input type="tel" class="form-control" id="telefono" name="telefono">
              </div>
              <div class="form-group">
                <label for="descripcion">Descripción</label>
                <textarea class="form-control" id="descripcion" name="descripcion" rows="3" required></textarea>
              </div>
              <button type="submit" class=" btn-custom">Enviar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="npp-image">
    <div class="npp-text">
      <h2>Estamos listos para servirte</h2>
      <p>Comunícate a través de nuestros canales oficiales o a través de nuestras redes sociales.</p>
      <custom-button text="Conoce más" url="https://wa.link/3wwn9i"></custom-button>
    </div>
  </div>

  <div class="main-container">
    <div class="cards-container">
      <card-component icon="/img/iconUbicacion.png" title="Dirección" description1="Luz de America Km 23"
        description2="Santo Domingo"></card-component>
      <card-component icon="/img/iconCorreo.png" title="Correo Electónico" description1="ecoespe@espe.edu.ec"
        description2="vivero@espe.edu.ec"></card-component>
      <card-component icon="/img/iconTelefono.png" title="Teléfono" description1="0999999999"
        description2="0999999999"></card-component>
    </div>
  </div>

  <div class="objetivos-tarjetas">
    <h2>Encuéntranos más fácil</h2>
  </div>

  <div class="contenedor-mapa">
    <div id="mapa" class="mapa"></div>
  </div>






  <script type="module" src="/scripts/ContactoESModules.js"></script>
  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
  <script src="/scripts/NosotrosCustomELements.js"></script>
  <script src="/scripts/ContactoMap.js"></script>
  <script src="/scripts/ContactoShadowDOM.js"></script>

</body>

</html>