<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nosotros</title>
  <link rel="stylesheet" href="/styles/Nosotros.css">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

  <div class="np-image">
    <div class="np-text">
      <h1>Nosotros</h1>
    </div>
  </div>
  <div class="objetivo-section">
    <div class="objetivo-box">
      <h2>Descripción de la Empresa</h2>
      <p>
        Nuestro objetivo principal es contribuir al embellecimiento de espacios urbanos y rurales, promoviendo la
        biodiversidad y el cuidado del medio ambiente. Aspiramos a ser líderes en el sector de la jardinería y la
        horticultura, proporcionando a nuestros clientes no solo productos excepcionales, sino también conocimientos y
        asesoramiento para el cultivo y mantenimiento de sus jardines y huertos.
      </p>
    </div>
  </div>
  <div class="objetivos-tarjetas">
    <h2>Nuestros Objetivos</h2>
  </div>

  <div class="cards-container">
    <card-component title="Calidad"
      description="Nos comprometemos a ofrecer plantas saludables y vigorosas, cultivadas con los más altos estándares de calidad."
      image="/img/6.png"></card-component>
    <card-component title="Sostenibilidad"
      description="Implementamos prácticas de cultivo respetuosas con el medio ambiente, minimizando el uso de productos químicos."
      image="/img/7.png"></card-component>
    <card-component title="Innovación"
      description="Estamos en constante búsqueda de nuevas técnicas y especies que se adapten a las necesidades cambiantes del mercado."
      image="/img/8.png"></card-component>
  </div>


  <div class="horizontal-section">
    <div class="image-side">
      <img src="/img/Mision.jpg" alt="Mision" class="img-fluid">
    </div>
    <div class="content-side">
      <h2>Misión</h2>
      <p>En Vivero ECO ESPE, nuestra misión es fomentar una conexión profunda y significativa entre las personas y la
        naturaleza. Nos dedicamos a la producción y comercialización de plantas de alta calidad, ofreciendo una amplia
        variedad de especies ornamentales, frutales, medicinales y autóctonas además deseamos transformar y embellecer
        los espacios verdes, proporcionando plantas de la más alta calidad y soluciones innovadoras en jardinería y
        horticultura. Nos dedicamos a promover la biodiversidad y el cuidado del medio ambiente a través de prácticas
        sostenibles y asesoramiento experto, garantizando la satisfacción y el éxito de nuestros clientes en el cultivo
        y mantenimiento de sus jardines y huertos.</p>
      <custom-button text="Conoce más" url="https://wa.link/3wwn9i"></custom-button>
    </div>
  </div>


  <div class="horizontal-section">
    <div class="image-side">
      <img src="/img/Vision.jpg" alt="Vision" class="img-fluid">
    </div>
    <div class="content-side">
      <h2>Visión</h2>
      <p>En Vivero ECO ESPE, nuestra visión es ser líderes reconocidos en el sector de la jardinería y la horticultura,
        impulsando un futuro donde la belleza natural y la sostenibilidad vayan de la mano. Aspiramos a ser la primera
        opción para quienes buscan enriquecer sus entornos con soluciones ecológicas, innovadoras y personalizadas,
        contribuyendo a un mundo más verde y saludable para las generaciones venideras, tambien ser reconocidos como el
        vivero más confiable y sostenible de la región, destacándonos por nuestra innovación, compromiso ecológico y
        excelencia en el servicio al cliente. Buscamos inspirar a la comunidad a través de prácticas de jardinería
        responsables y el uso de plantas nativas para conservar y proteger la biodiversidad local.
      </p>
      <custom-button text="Conoce más" url="https://wa.link/3wwn9i"></custom-button>
    </div>
  </div>

  <div class="npp-image">
    <div class="npp-text">
      <h2>Amamos lo que hacemos</h2>
      <p>"La naturaleza es la mejor medicina para la serenidad, La paz, la calma, la quietud y es buena para el
        corazón." - Karen Madwell</p>
    </div>
  </div>

  <div class="objetivos-tarjetas">
    <h2>Equipo de Trabajo</h2>
  </div>

  <div class="cards-container">
    <image-card image="/img/users.png" title="Josue Chica" description="Colaborador de la empresa"
      facebook="https://www.facebook.com/persona1" twitter="https://twitter.com/persona1"
      instagram="https://www.instagram.com/persona1"></image-card>
    <image-card image="/img/user.png" title="Nataly Pacheco" description="Colaborador de la empresa"
      facebook="https://www.facebook.com/persona2" twitter="https://twitter.com/persona2"
      instagram="https://www.instagram.com/persona2"></image-card>
    <image-card image="/img/users.png" title="Raúl Faz" description="Colaborador de la empresa"
      facebook="https://www.facebook.com/persona3" twitter="https://twitter.com/persona3"
      instagram="https://www.instagram.com/persona3"></image-card>
  </div>


  <my-footer title="ECO ESPE"
    frase='"Crece con firmeza, arraízate en la tierra y extiende tus hojas hacia el sol. En cada nuevo brote, encuentra la fuerza para florecer."'>&copy;
    2024 ECO ESPE. Todos los derechos reservados.</my-footer>

  <script src="/scripts/NosotrosShadowDOM.js"></script>
  <script src="/scripts/NosotrosCustomELements.js"></script>
  <script src="/scripts/NosotrosHTMLTemplate.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="../scripts/Footer.js"></script>

</body>

</html>