body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    text-align: center;
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px 20px;
    background-color: #f0f0f0;
}

.features feature-element {
    flex: 1 1 calc(25% - 40px); /* 4 elementos por línea, con márgenes incluidos */
    margin: 10px;
    box-sizing: border-box;
}

.about {
    padding: 50px 20px;
}

footer {
    background-color:#6c757d;
    color: white;
    text-align: center;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.key-priorities {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 2em 5em;
    background-color: #f8f9fa;
}
.key-priorities h3 {
    font-size: 1.75em;
    font-weight: bolder;
    margin-bottom: 20px;
    color: #6fa243;
}
.key-priorities p {
    font-size: 1em;
    color: #6c757d;
    margin-bottom: 40px;
}
.key-priorities .image-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
}


